{
    "log_dir": "/var/log/galois",

    "emailer": {
        "server": "http://localhost:8123",
        "smtp_settings": {
            "address": "smtp.gmail.com",
            "authentication": "plain",
            "domain": "gmail.com",
            "enable_starttls": true,
			"user_name": "YOUR GMAIL USERNAME",
            "password": "YOUR GMAIL PASSWORD",
            "port": "587"
        },
        "subscribers": ["YOUR MAILING LIST"],
        "time": "13:42:00",
        "subject": "Icinga Services w/ Disabled Notifications",
        "template": "notification"
    },

    "scraper": {
        "host_fields": ["host_name","notifications_enabled"],
       	"service_fields": ["host_name","service_description","notifications_enabled"],
        "icinga_config": "/galois/icinga.cfg",
        "refresh": "600"
    },

    "server": {
        "host": "localhost",
        "port": "8123"
    }
}
